services:
  finance-hub:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-finance-hub:latest
    build:
      dockerfile: docker/finance-hub/Dockerfile
    ports:
      - "8888:8888"
    environment:
      PORT: 8888
      SIRIUS_PUBLIC_URL: http://localhost:8080
      SIRIUS_URL: http://json-server:3000
      BACKEND_URL: http://finance-api:8080
      HEALTHCHECK: /finance/health-check
      PREFIX: /finance
      SUPERVISION_BILLING_TEAM_ID: 41
      JWT_SECRET: mysupersecrettestkeythatis128bits
      FINANCE_HUB_LIVE_DATE: 01/01/2024
    depends_on:
      finance-api:
        condition: service_healthy
      json-server:
        condition: service_started

  finance-api:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-finance-api:latest
    build:
      dockerfile: docker/finance-api/Dockerfile
    ports:
      - "8181:8080"
    environment:
      PORT: 8080
      HEALTHCHECK: /health-check
      POSTGRES_CONN: sirius-db:5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finance
      AWS_REGION: eu-west-1
      AWS_BASE_URL: http://localstack:4566
      AWS_ACCESS_KEY_ID: localstack
      AWS_SECRET_ACCESS_KEY: localstack
      AWS_IAM_ROLE: arn:aws:iam::000000000000:role/role
      EVENT_BUS_NAME: local-main
      S3_ENCRYPTION_KEY: alias/aws/s3
      AWS_S3_ENDPOINT: http://localstack:4566
      SIRIUS_PUBLIC_URL: http://localhost:8080
      FINANCE_ADMIN_PREFIX: /supervision/finance-admin
      JWT_SECRET: mysupersecrettestkeythatis128bits
      FINANCE_HUB_LIVE_DATE: 01/01/2024
      REPORTS_S3_BUCKET: opg-backoffice-reports-local
      ASYNC_S3_BUCKET: opg-backoffice-async-uploads-local
      NOTIFY_URL: http://json-server:3000
      OPG_NOTIFY_API_KEY: test
      OPG_SUPERVISION_SYSTEM_USER_ID: 1
      EVENT_BRIDGE_API_KEY: test
    depends_on:
      sirius-db:
        condition: service_healthy

  json-server:
    build:
      dockerfile: json-server/Dockerfile
    ports:
      - '3000:3000'

  cypress:
    build:
      dockerfile: docker/cypress/Dockerfile
    command: [ "--headless", "-b", "electron" ]
    volumes:
      - ./cypress/screenshots:/root/cypress/screenshots:rw,delegated
      - ./cypress/logs:/root/cypress/logs:rw,delegated
    depends_on:
      finance-hub:
        condition: service_healthy

  go-lint:
    image: golangci/golangci-lint:v1.64.5
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.cache/golangci-lint/v1.64.5:/root/.cache
    command: golangci-lint run -v --timeout 5m

  gosec:
    image: securego/gosec:latest
    working_dir: /app
    volumes:
      - .:/app
    command: -exclude-dir=.gocache -exclude-generated -fmt=sarif -out=/app/test-results/gosec.sarif -stdout -verbose=text /app/...

  trivy:
    image: aquasec/trivy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.trivy-cache:/root/.cache
      - ./test-results:/test-results
      - ./.trivyignore:/.trivyignore
    environment:
      - TRIVY_DB_REPOSITORY=${TRIVY_DB_REPOSITORY}
      - TRIVY_JAVA_DB_REPOSITORY=${TRIVY_JAVA_DB_REPOSITORY}
      - TRIVY_USERNAME=${DOCKER_USERNAME}
      - TRIVY_PASSWORD=${DOCKER_PASSWORD}

  yarn:
    image: node:22-alpine3.19
    working_dir: /home/node/app
    entrypoint: yarn
    volumes:
      - ./finance-hub:/home/node/app

  sirius-db:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finance
    ports:
      - "5431:5432"
    volumes:
      - ./migrations/1_baseline.sql:/docker-entrypoint-initdb.d/1_baseline.sql
      - ./test-data/seed_data.sql:/seed_data.sql
    healthcheck:
      test: pg_isready --username=user --dbname=finance
      interval: 5s
      timeout: 5s
      retries: 5

  sqlc-gen:
    image: kjconroy/sqlc
    working_dir: /src
    volumes:
      - ./finance-api/internal/store:/src
      - ./migrations:/schema
    command: generate

  sqlc-diff:
    image: kjconroy/sqlc
    working_dir: /src
    volumes:
      - ./finance-api/internal/store:/src
      - ./migrations:/schema
    command: diff

  sqlc-vet:
    image: kjconroy/sqlc
    environment:
      POSTGRES_CONN: localhost:5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finance
      POSTGRES_SEARCH_PATH: supervision_finance
    working_dir: /src
    volumes:
      - ./finance-api/internal/store:/src
      - ./migrations:/schema
    command: vet
    depends_on:
      - finance-migration

  finance-migration:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-finance-migration:latest
    build:
      dockerfile: docker/finance-migration/Dockerfile
    depends_on:
      sirius-db:
        condition: service_healthy
    environment:
      DB_USER: user
      DB_PASSWORD: password
      DB_CONNECTION: sirius-db:5432
      DB_NAME: finance
      DB_SCHEMA: supervision_finance
    command: "up"

  localstack:
    image: localstack/localstack:4.1
    ports:
      - "4566:4566"
    environment:
      AWS_DEFAULT_REGION: eu-west-1
    healthcheck:
      test: bash /scripts/wait/healthcheck.sh
      interval: 10s
      timeout: 10s
      retries: 50

  zap:
    image: softwaresecurityproject/zap-stable
    volumes:
      - "./zap/:/zap/wrk/"
      - "./zap/.cache:/home/zap/.ZAP"
    command: bash -c "zap.sh -cmd -addonupdate -addoninstall pscanrules -addoninstall pscanrulesBeta -addoninstall pscanrulesAlpha -addoninstall ascanrules -addoninstall ascanrulesBeta -addoninstall ascanrulesAlpha; zap.sh -cmd -autorun /zap/wrk/zap.yaml"
