{{- /*gotype: github.com/ministryofjustice/opg-sirius-supervision-finance-hub/internal/server.InvoicePage*/ -}}
{{ template "page" . }}

{{ define "title" }} OPG Sirius Finance Hub {{ end }}

{{ define "main" }}
    <div class="main">
    {{ template "personInfo" .App.Person }}
    </div>

{{ end }}