{{ template "page" . }}

{{ define "title" }} OPG Sirius Finance Hub {{ end }}

{{ define "content" }}

    {{ block "invoices" .Data }}
        <h1 class="govuk-heading-l">{{.HoldingString}}</h1>
    {{ end }}

{{ end }}