services:
  finance-hub:
    build:
      target: dev
    ports:
      - '2345:2345'
    volumes:
      - ./finance-hub/.air.toml:/app/finance-hub/.air.toml
      - ./go.mod:/app/go.mod
      - ./go.sum:/app/go.sum
      - ./finance-hub/internal:/app/finance-hub/internal
      - ./shared:/app/shared
      - ./apierror:/app/apierror
      - ./finance-hub/main_test.go:/app/finance-hub/main_test.go
      - ./finance-hub/main.go:/app/finance-hub/main.go
      - ./finance-hub/web/static:/app/finance-hub/web/static
      - ./finance-hub/web/template:/app/finance-hub/web/template

  finance-api:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-finance-api:dev
    build:
      target: dev
    ports:
      - '3456:2345'
    volumes:
      - ./finance-api/.air.toml:/app/finance-api/.air.toml
      - ./go.mod:/app/go.mod
      - ./go.sum:/app/go.sum
      - ./finance-api/cmd:/app/finance-api/cmd
      - ./finance-api/internal:/app/finance-api/internal
      - ./finance-api/main.go:/app/finance-api/main.go
      - ./shared:/app/shared
      - ./apierror:/app/apierror

  allpay-mock:
    ports:
      - "4010:8080"
    volumes:
      - ./api-mocks/allpay:/opt/imposter/config

  yarn:
    command: watch

  json-server:
    volumes:
      - ./json-server/config:/app/config
