$govuk-include-default-font-face: false;
$govuk-moj-table-background-color: #e7f2fb;

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";

.moj-header__container {
  max-width: 98%;
}