{{- /*gotype: github.com/ministryofjustice/opg-sirius-supervision-finance-hub/internal/server.FinanceVars*/ -}}
{{ define "tabs" }}
  <nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list">
      {{ range .Tabs }}
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="{{ .GetURL $.Person.ID }}/{{ .BasePath }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}


